@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --bg-colour: #ff3112fc;
    --sub-color: #111;
    --nxt-color:#ffffff;
    --txt-color:white;
    --typo-color:rgb(255, 255, 255);

}

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
 /*    cursor: pointer; */
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    overflow-x: hidden;
    font-size: 100%;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    border-radius: 7rem;
    background-color: #12121261;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    font-size: 16px;
    transition: 0.3s;
    /* cursor: default; */
}
 /* all common */
.about-me,.skills, .services{
    font-family: 'poppins', sans-serif;
}

 .title{
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 22px;
    font-family: 'ubuntu', sans-serif;
    cursor: default;
   
}

 .title::before{
    content: "";
    position: absolute;
    width: 200px;
    bottom: 0px;
    left: 50%;
    height: 3px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);

}

.title::after{
   
    position: absolute;
    font-weight: 600;
    bottom: -12px;
    left:50%;
    font-size: 21px;
    color: var(--bg-colour);
    padding: 2px;
    background:var(--sub-color);
    transform: translateX(-50%);

}

.header{
    z-index: 999;
    color: var(--txt-color);
    position: fixed;
    width: 100%;
    display: flex;
    font-family: "Ubuntu", sans-serif;
    padding:1.3rem  3rem 0 0;
    transition: all 0.3s ease;
    flex-direction: row;
  
    justify-content: space-between;
    align-items: center;
}

.header .menu-btn{
    font-size: 45px;
    padding-right: 20px;
  
}
.header .menu-btn:hover{
   transition: all .2s ease;
   color: var(--bg-colour);
   transform: scale(1.13);
}

 .header .sticky{
      background-color:var(--bg-colour);
      padding:0  3rem 0 0;
} 

.header .logo{
    padding: 0 0 0 100px;
    font-size: 35px;
    font-weight: 500;
    
    text-align: center;
    justify-content: flex-start;
}

.header .logo span{
    color: var(--bg-colour);
    font-size: 37px;
    font-weight: 700;
}
.header .sticky .logo span{
    color: var(--txt-color);
}
.header .menu {
    
    margin: 1rem;
    padding-right: 1rem;
    gap: 2rem;
    display: flex;
    flex-direction:row;
    align-items: center;
    font-size: 23px;
}

.header .menu i{
    font-size: 38px;
}
.header .menu i:hover{
    transform:scale(1.12);
    color: var(--bg-colour);
    transition: all 0.3s ease-in-out ;
}

 .header a,
 .header:visited{
    color: var(--txt-color);

}

.header .sticky a:hover{
    color: var(--sub-color);
}
 .header a:hover{
    border-bottom: 0.1rem solid  var(--bg-colour);
    color: var(--bg-colour);
    transition: all .3s ease;
    letter-spacing: 0.2px;
    padding-bottom: .5rem;
}

/* home section */
section{
    background-color:var(--sub-color); 
    background-image:url(/images/new.png) ;
    background-size: cover;
    
}
.home{
    background-color: #12121281;
    font-family: "Poppins", sans-serif;
  
    
}
.home .content{
    padding-top: 5rem;
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    justify-content: center;
}
.home .content .text {
    color: var(--typo-color);
}

.home .content .text h1{
    font-size: 55px;
}

/* 
.home .content .text h1 span{
    color: var(--bg-colour);
} */

.home .content .text h2{
    font-size: 32px;
    font-weight: 700;
}

.home .content .text h2 span{
    color: var(--bg-colour);
    font-size: 37px;
}

.home .content .text p{
    font-size: 26px;
    font-weight: 500;
}
.home .content .text .btn{
color: var(--sub-color);
font-size: 20px;
display: inline-block;
text-align: center;
border-radius: .5rem;
width: 150px;
padding: .5rem;
margin-top:1rem ;
background: var(--bg-colour);
border: 2px solid var(--bg-colour);
}


.home .content .text  a:hover{
    color: var(--bg-colour);
    font-size: 22px;
    letter-spacing: .05rem;
    transition: .3s;
    font-weight: 700;
    background-color: transparent;
    border: 2.5px solid var(--bg-colour);
    
}

/* abou-me section */

.about-me{
    background-color:var(--nxt-color);
    font-family: 'poppins', sans-serif;
    padding: 100px 0;
}


.about-me .title::before{
    background: var(--sub-color);
}
.about-me .title::after{
    content: "who i am";
    background: var(--nxt-color);
    color: var(--bg-colour);
}




.about-me .content{
    display: flex;
    flex-wrap: wrap;
    margin:0 100px;
    padding-right: 20px ;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.about-me .content .text{
    max-width: 50vw;
}

.about-me .content .text p{
   font-size: 17.5px;
   margin-bottom: 15px;
  /*  text-align: justify; */
}

.about-me .content .text .txt{
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 16px;
    font-family: 'poppins', sans-serif;
}

.about-me .content .text .txt span{
    
    font-size: 31px;
    color: var(--bg-colour);
}

.about-me .content .image img{
    width: 400px;
    align-items: center;
    height: 400px;
    object-fit: cover;
    border: var(--bg-colour)17px double;
    border-radius: 50rem;
    
}



.about-me .content .text a, a:visited{
    font-size: 20px;
    background: var(--bg-colour);
    color: var(--txt-color);
    padding: 12px;
    border-radius:.5rem;
    text-align: center;
    width: 220px;
    display: inline-block;
}
.about-me .content .text a:hover{
    border: 2.5px solid var(--bg-colour);
    background: none;
    color: var(--bg-colour);
    transform: scale(1.05);
    font-weight: 700;
    transition: all .3s ease;
}

.about-me .content .text .li{
    margin-top: 20px;

}

/* my skills section*/

.skills{
    background: var(--sub-color);
    color: var(--txt-color);
    padding: 100px 0 150px 0;
}
.skills .title::after{
    content: "what i know 👩‍💻";
    color: var(--bg-colour);
}
.skills .content{
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
        margin:0 100px;
        justify-content: space-between;
        align-items: center;
}

.skills .content .column{
    width:calc(47.5% - 30px);
}

.skills .content  .left .txt{
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 13px;
}

.skills .content  .left p{
    text-align: justify;
    /* cursor:default; */
}

.skills .content .left .read a, a:visited{

    font-size: 20px;
    background: var(--bg-colour);
    color: var(--txt-color);
    padding: 12px;
    border-radius:.5rem;
    text-align: center;
    width: 180px;
    display: inline-block;
    border: 2.5px solid var(--bg-colour);
    transition: all .3s ease;
}
.skills .content  .left .read a:hover{
    color: var(--bg-colour); 
    transition: all .3s ease;
    background:transparent;
    font-size: 21px;
    letter-spacing: 1px;
}

.skills .content  .left .read{
    margin-top: 14px;   
}

.skills .content  .right .bars{
    margin-bottom: 15px;
}
.skills .content  .right .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}


.skills .content  .right span{
    font-size: 18px;
    font-weight:500 ;
}

.skills .content  .right .bars .line{
    background:rgba(255, 255, 255, 0.201);
    height: 5px;
    width: 100%;
    position: relative;
}

.skills .content  .right .bars .line::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    top: 0;
    background: var(--bg-colour);
}

.skills .content  .right .bars .html::before{
    width: 90%;
}
.skills .content  .right .bars .css::before{
    width: 70%;
}
.skills .content  .right .bars .php::before{
    width: 50%;
}
.skills .content  .right .bars .mysql::before{
    width: 65%;
}




/* projects section */
.projects{
    background: var(--nxt-color);
    color: var(--sub-color);
    padding: 100px 0 150px 0;
    font-family: 'ubuntu' sans-serif;

}
.projects .title::before{
    background-color: var(--sub-color);
}
.projects .title::after{
    content: "what i've done";
    color: var(--bg-colour);
    background-color: var(--nxt-color);
}

.projects .content{
    display: flex;
    row-gap: 40px;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    margin: 0 10px;
   
}
.projects .content .container{
    display: flex;
    flex-direction: column;
   max-height: 750px;
    max-width: 450px;
    justify-content:flex-start;
    text-align: center;
    padding: 20px;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.522));
    background: white;
    border:var(--bg-colour) 2px solid;
    border-radius:5% ;
   cursor: pointer; 
  
}

.projects .content .container .caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}

.projects .content .container .caption .head{
    padding-bottom:25px ;
    font-size: 30px;
    font-weight: 600;
}
.projects .content .container .caption p{
    padding-bottom:25px ;
    font-size: 20px;
    font-weight: 400;
}
.projects .content .container .caption a{
    padding:8px ;
    font-size: 21px;
    font-weight: 400;
    color: var(--txt-color);
    background:var(--bg-colour);
    text-align: center;
    border-radius: 30px;
   
}
.projects .content .container .caption a:hover{
    background:none;
    border: var(--bg-colour) 3px solid;
    color: var(--bg-colour);
    transform: scale(1.0);
    
transition: all .3s ease;
}





.projects .content .container:hover{

transform: scale(1.04);
transition: all .3s ease-in-out;

}




/* .projects .content .card {
    margin: 40px;
} */
.projects .content .card img{
    object-fit: cover;
  /*   filter: drop-shadow(0 7px 16px rgba(0, 0, 0, 0.522)); */
    width: 400px;
    height: 200px;
    /* border: var(--bg-colour) 7px solid; */
    border-radius: 5%;
   
 }
 


/* services seection */
.services{
    background:var(--sub-color);
    color: var(--txt-color);
    padding: 100px 0 150px 0;
}

.services .title::before{
    background: var(--txt-color);
}
.services .title::after{
    content: "what i provide";
    background: var(--sub-color);
    color: var(--bg-colour);
}


.services .content{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.services .content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    align-content: center;
  /*   margin: 1rem;  */
   max-height: 500px;
   border-radius: 6px;
   padding: 30px 30px;
   cursor: pointer;
   transition: all .3s ease;  
}

.services .content .card:hover{
    background: var(--bg-colour);
}

.services .content .card .box{
    transition: all .3s ease;
    
}

.services .content .card .box i{
    font-size: 85px;
    font-weight: 900;
    color: var(--bg-colour);
}

.services .content .card:hover .box i{
    font-size: 85px;
    
    color: var(--nxt-color);
}
.services .content .card:hover .box{
   transform: scale(1.07);
}

.services .content .card .txt{
    font-size: 30px;
    font-weight: 600;
    margin: 12px 0 15px 0;
    color: var(--txt-color);
    transition: color .3s ease;
}

.services .content .card p{
    font-size: 19px;
    transition: color .3s ease;
}


/* contact-me */
.contact-me{
    position: relative;
    background: var(--nxt-color);
  /*   min-height: 100vh; */
    padding: 100px 0 150px 0;
    margin: 0 100px 0 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
      /*   filter: drop-shadow(0 7px 16px rgba(0, 0, 0, 0.522)); */
}
.contact-me .title::before{
    background: var(--sub-color);
}
.contact-me .title::after{
    background: var(--nxt-color);
    content: "get in touch";
    color: var(--bg-colour);
}

.contact-me .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* height: 50px; */
    /* background: var(--bg-colour); */
    margin-top: 30px;
}

.contact-me .container .contactInfo{
    width: 50%;
    display:flex;
    flex-direction: column;
}

.contact-me .container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;

}

.contact-me .container .contactInfo .box .icon{
    position: relative;
    min-width: 60px; 
    height: 60px;
    background: repeating-conic-gradient(from 27.5deg, var(--bg-colour)0%, var(--bg-colour) 10%, transparent 10%, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-me .container .contactInfo .box .icon::before{
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg, var(--bg-colour)0%, var(--bg-colour) 10%, transparent 10%, transparent 50%);
}

.contact-me .container .contactInfo .box .icon::after{
    content: "";
    position: absolute;
    inset: 2px;
    background: var(--nxt-color);
}

.contact-me .container .contactInfo .box .icon b{
    position: absolute;
    inset: 8px;
    background: var(--bg-colour);
    z-index: 2;
}

.contact-me .container .contactInfo .box .icon i{
    position: relative;
    z-index: 1000;
    color: var(--txt-color);
    font-size: 22px;
}

.contact-me .container .contactInfo .box .text{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 22px;
    font-size: 19px;
    color: var(--sub-color);
}

.contact-me .container .contactInfo .box .text h4{
    font-weight: 600;
    color: var(--bg-colour);
}

.contact-me .container .contactInfo .txt{
   margin-top: 50px;
   font-size: 26px;
   font-weight: 600;
   border-left: 50px solid var(--bg-colour);
   padding-left: 10px;
   line-height: 22px;
}

.contact-me .container .contactInfo .sci{
    position: relative;
    display: flex;
    gap: 30px;
    margin: 25px 0;
   
}

.contact-me .container .contactInfo .sci a{
    color: var(--sub-color);
    font-size: 26.5px;
    border-radius: 20%;
    padding: 0 5px; 
   
}

.contact-me .container .contactInfo .sci a:hover{
    color: var(--bg-colour);
    font-size: 27px;
    border: var(--bg-colour) 4px double;
    border-radius: 20%;
    padding: 0 5px;
    transition: all .2s  ease;
}

.contact-me .container .contactForm{
    position: relative;
    width: 45%;
    background: repeating-conic-gradient(from var(--a), var(--bg-colour)0%, var(--bg-colour) 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    padding: 60px;
  
}

.contact-me .container .contactForm::before{
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), var(--bg-colour)0%, var(--bg-colour) 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.contact-me .container .contactForm::after{
    content: '';
    position: absolute;
    inset: 2px;
         filter: drop-shadow(0 5px 16px rgba(0, 0, 0, 0.284)); 
    border: 15px solid white;
    background-color: #ffffff;
   
}



@property --a{
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;  
}
@keyframes animate{
    0%{
        --a: 0deg;
    }
    100%{
        --a: 360deg;
    }
}

.contact-me .container .contactForm form{
    
    position: relative;
    z-index: 10;
}

.contact-me .container .contactForm form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.contact-me .container .contactForm form .inputBox input,
.contact-me .container .contactForm form .inputBox textarea{
    width: 100% !important;
    padding: 5px 0;
    font-size: 17px;
    margin: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 2.6px solid var(--bg-colour);
    outline: none;
    resize: none;
}

.contact-me .container .contactForm form .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    margin: 10px 0;
    font-size: 18px;
    transition: all .5s ease;
}





.contact-me .container .contactForm form .inputBox input:focus ~ span,
.contact-me .container .contactForm form .inputBox input:valid ~ span,
.contact-me .container .contactForm form .inputBox textarea:focus~ span,
.contact-me .container .contactForm form .inputBox textarea:valid ~ span{
    color:var(--bg-colour);
    font-size: 14px;
    transform: translateY(-22px);
    transition: all .5s ease;
}

.contact-me .container .contactForm form .inputBox [type="submit"]{
    width: 100%;
    background: var(--bg-colour);
    color: var(--txt-color);
    border: none;
    cursor: pointer;
    padding: 14px;
    font-size: 19px;
    font-weight: 600;
}

.contact-me .container .contactForm form .inputBox [type="submit"]:hover{
  /*   border: var(--bg-colour) 4px solid;
    color: var(--bg-colour);
    background: transparent; */
    transform: scale(1.05);
    transition: all .3s ease;
}




/* footer */
footer{
    background: #060606e3;
    color: var(--txt-color);
    padding: 10px 0;
    text-align: center;
}

footer p{
    font-size: 20px;
    font-weight: 700;
}

footer p span{
    font-size: 21px;
    font-weight: 100;
    color: var(--bg-colour);
}




@media (width < 1000px){
    .contact-me{
        padding: 60px;
    }
    .contact-me .container{
        flex-direction: column;
    }

    .contact-me .container .contactInfo,
    .contact-me .container .contactForm
    {
        width: 100%;
    }

    .contact-me .container .contactForm{
        padding: 40px;
    }

    .contact-me .container .contactForm form{
        padding: 10px;
       
    }
}